@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: floatUpDown 5s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c2645;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
